<h1>MacOs Description Here</h1>
<h1>How To Install Django In Mac</h1>by <h3>Laura Gellein</h3>
<h2>introduction:
</h2>
<p>Django is the web framework developed in Python. Django is the high-level Python Web framework that encourages rapid development and has a clean design. What is cool about Django is that it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It is also free and open source. 
</p>
<p>Here are some of the advantages of the Django framework

</p>
<ul class="w3-ul">
    <li>fast.</li>
    <li>secure</li>
    <li>scalable</li>
    <li>versatile</li>
    <li>fully loaded</li>
</ul>
<h1>Step 1: Install Python on Mac.
</h1>

<p>1)Python is already installed on the brand new Macs, but its an old version, so you will need to install the latest version of python using homebrew.
 brew install python3
After the installation is complete, type the following command to check the version: <br>
2)python3
*since MacOS X already has python installed, you can not uninstall the old version because the Python2 supported programs will be stopped and then you will have to reinstall the mac. So it is better to type python3 instead of python<br>
3) after you have successfully installed python3, then type the next command<br>
4) exit().
</p>
<h1>Step 2: Install Pip package management</h1>
<p>Pip is the package management system used to install and manage software packages written in Python. <br>
1) install Pip using the following command.<br>
sudo easy_install pip
</p>
<h1>Step 3: Install virtualenv for python.
</h1>
<p>1)Now, type this command in your terminal.<br>
sudo pip install virtualenv<br>
2)after installing, you need to create the virtual environment. Now you will create this folder when you are putting your other projects. desktop >> code folder. So navigate to that and type the following command. Ie. my folder name is thanos<br>
virtualenv thanos<br>
so it will install the required folders. Now, go into that folder.<br>
cd thanos<br>
Now, activate the virtual environment by typing the following command.  Make sure you are in the virtual environment directory.<br>
source bin/activate<br>
So, now your virtual environment has been started. Now, this is the time to install the Django Framework.<br>
</p>
<h1>Step 4: Install Django In Mac
</h1>
<p>now you need to stay in that folder and install Django using the following command.<br>
sudo pip install django==2.0.3<br>
It will download the Django project. Check the Django version using the following command.<br>
python -m django --version<br>
So In this case for example, we have defined that we are installing 2.0.3. So it will display that version.<br>
</p>
<h1>Step 5: Create the Django Project.
</h1>
<p>Now we need to install the skeleton of the Django project. So type the following command.<br>
django-admin startproject thanosback<br>
Here, our project name is thanosback. Next, go into that folder.<br>
cd thanosback<br>
Finally, we have created the project. Now start the project server by typing the following command.<br>
python manage.py runserver<br>
It has started the development server, and we can access it via localhost:8000<br>
    Navigate to the browser. Your install should work successfully!</p>

<h1>Step 6: Open Django on Visual Studio Code.</h1>
<h2> How To Install Visual Studio Code On Mac
</h2>
<p>This step is optional because if you are using Visual Studio Code, then it will be helpful to you. If you are using another IDE like pycharm or editor like sublime text, then you can skip this step. First, perform the following step.
Install the Python extension.<br>
Now, open our project in the visual studio code using the following command.<br>
code .
Please make sure, you are at the root of the thanosback folder.
You will get the folder structure like this.
</p>
<h1>Finally, How To Install Django In Mac tutorial is over!</h1>

