<h1>Window Description Here</h1>
<ul style="list-style-type">
    <li>First you are going to want to install python onto your machine if you haven't already 
    </li>

    <li>On google search install python, click the first link by <a href="python.org">www.python.org</a>
    </li>

    <li>Select Windows, where it says "Looking for python with a different OS? Python for Windows."</li>
    <li>On the installer, hit install now, and don't forget to check the box, *add python 3.8 to path* this alleviates you having to manually add the path.</li>

    <li>Once finished installing, open your command line, and type in the command line: Pip install Django == 2.2.7</li>
    <li>Now, once the install is finished, type python into your command line, you should see three >>> keys</li>

    <li>Type import django, press enter</li>
    <li>Type print(django.get_version())</li>
    <li>After doing this, you should be able to see the versino of django that you just installed</li>
</ul>